@font-face {
	font-family: 'cui-icon';
	src: url(./../images/newcomer-cui-icon.eot);
	src: url(./../images/newcomer-cui-icon.eot#iefix) format('embedded-opentype'),
	url(./../images/newcomer-cui-icon.woff2) format('woff2'),
	url(./../images/newcomer-cui-icon.woff) format('woff'),
	url(./../images/newcomer-cui-icon.ttf) format('truetype'),
	url(./../images/newcomer-cui-icon.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

.cui-icon {
	font-family: 'cui-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}

.cui-icon-add:before {
	content: "\EA01"
}

.cui-icon-cancel:before {
	content: "\EA02"
}

.cui-icon-confirm:before {
	content: "\EA03"
}

.cui-icon-date:before {
	content: "\EA04"
}

.cui-icon-download:before {
	content: "\EA05"
}

.cui-icon-edit:before {
	content: "\EA06"
}

.cui-icon-heart:before {
	content: "\EA07"
}

.cui-icon-help:before {
	content: "\EA08"
}

.cui-icon-home:before {
	content: "\EA09"
}

.cui-icon-infomation:before {
	content: "\EA0A"
}

.cui-icon-menu:before {
	content: "\EA0B"
}

.cui-icon-minus:before {
	content: "\EA0C"
}

.cui-icon-purchase:before {
	content: "\EA0D"
}

.cui-icon-refresh:before {
	content: "\EA0E"
}

.cui-icon-search:before {
	content: "\EA0F"
}

.cui-icon-star-outline:before {
	content: "\EA10"
}

.cui-icon-star:before {
	content: "\EA11"
}

.cui-icon-visible:before {
	content: "\EA12"
}

.cui-icon-double-down:before {
	content: "\EA13"
}

.cui-icon-double-left:before {
	content: "\EA14"
}

.cui-icon-double-right:before {
	content: "\EA15"
}

.cui-icon-double-up:before {
	content: "\EA16"
}

.cui-icon-down:before {
	content: "\EA17"
}

.cui-icon-left:before {
	content: "\EA18"
}

.cui-icon-more:before {
	content: "\EA19"
}

.cui-icon-play:before {
	content: "\EA1A"
}

.cui-icon-right:before {
	content: "\EA1B"
}

.cui-icon-triangle-down:before {
	content: "\EA1C"
}

.cui-icon-up:before {
	content: "\EA1D"
}
.foldIcon {
  font-family: 'cui-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  border: none;
  margin-top: -6px;
  font-size: 12px;
  color: #666a75;
}
.foldIcon:before {
  content: "\EA17";
  position: static;
  border: none;
  margin: 0px;
}
.cui-btn {
  display: inline-block;
  height: 40px;
  padding: 0 30px;
  border: solid 1px transparent;
  border-radius: 2px;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: 0.2s;
}
.cui-btn-normal {
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  line-height: 38px;
}
.cui-btn-small {
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  line-height: 30px;
}
.cui-btn-large {
  height: 48px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  line-height: 46px;
}
.cui-btn-primary {
  border-color: #C7000B;
  background-color: #C7000B;
  color: #fff;
}
.cui-btn-primary:hover,
.cui-btn-primary.hover {
  box-shadow: 0 8px 16px rgba(246, 111, 106, 0.5);
}
.cui-btn-dark {
  border-color: #252b3a;
  background-color: #252b3a;
  color: #fff;
}
.cui-btn-outline-primary {
  border: solid 1px #C7000B;
  color: #C7000B;
}
.cui-btn-outline-primary:hover,
.cui-btn-outline-primary .hover {
  border-color: #C7000B;
  background-color: #C7000B;
  color: #fff;
}
.cui-btn-outline-dark {
  border: solid 1px #252b3a;
  color: #252b3a;
}
.cui-btn-outline-dark:hover,
.cui-btn-outline-dark .hover {
  border: solid 1px #C7000B;
  color: #C7000B;
}
.cui-btn-outline-light {
  border: solid 1px #fff;
  color: #fff;
}
.cui-btn-outline-light:hover,
.cui-btn-outline-light .hover {
  border: solid 1px #C7000B;
  color: #C7000B;
}
.cui-btn.disabled,
.cui-btn[disabled] {
  cursor: default;
  background-color: #f7f7f7;
  border-color: #ddd;
  color: #a0a2a8;
}
.cui-btn.disabled:hover,
.cui-btn[disabled]:hover {
  box-shadow: none;
}
.cui-select {
  display: inline-block;
  position: relative;
  width: 220px;
  height: 32px;
  border: solid 1px #ddd;
  border-radius: 2px;
  background: white;
  cursor: pointer;
}
.cui-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 0;
  background: transparent;
  font-size: 14px;
  color: #252b3a;
  line-height: 30px;
  cursor: pointer;
}
.cui-select select::-ms-expand {
  display: none;
}
.cui-select i {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 30px;
  background: white;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.cui-select i:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: solid 4px transparent;
  border-bottom: none;
  border-top: solid 5px #666a75;
  margin-bottom: 1px;
}
.cui-select:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 32px;
  bottom: 5px;
  border-right: solid 1px #ddd;
}
.cui-select-trigger {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}
.cui-select-option-list {
  display: none;
}
.cui-select.open .cui-select-option-list {
  display: block;
  position: absolute;
  z-index: 9;
  top: 100%;
  left: -1px;
  right: -1px;
  max-height: 152px;
  overflow: auto;
  border: solid 1px #ddd;
  border-radius: 2px;
  margin-top: 5px;
}
.cui-select.open .cui-select-option-list li {
  padding: 4px 9px;
  background: white;
  font-size: 14px;
  line-height: 22px;
  color: #666a75;
}
.cui-select.open .cui-select-option-list li:hover {
  background: #f7f7f7;
  color: #C7000B;
}
.cui-select.open .cui-select-option-list li.selected {
  background: #C7000B;
  color: #fff;
}
.dialog-container {
  display: none;
  position: fixed;
  z-index: 199;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: dialog-fadein 0.35s ease;
}
.dialog-container.show {
  display: block;
}
@keyframes dialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dialog-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.dialog-window {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  width: 400px;
  margin: auto;
  background: white;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.dialog-head {
  position: relative;
  height: 88px;
  padding: 30px 56px 30px 30px;
}
.dialog-head h1 {
  font-size: 22px;
  line-height: 28px;
  color: #252b3a;
}
.dialog-head:before {
  content: "";
  position: absolute;
  top: 33px;
  left: 0;
  width: 3px;
  height: 22px;
  background: #C7000B;
}
.dialog-head i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  color: #666a75;
  cursor: pointer;
}
.dialog-head i:hover {
  color: #C7000B;
}
.dialog-body {
  min-height: 76px;
  overflow-y: auto;
  padding: 0 30px;
}
.dialog-body::-webkit-scrollbar {
  width: 4px;
  background: none;
}
.dialog-body::-webkit-scrollbar-track {
  background: none;
}
.dialog-foot {
  height: 80px;
  padding-top: 20px;
  background: #f7f7f7;
  font-size: 0;
  text-align: center;
}
.dialog-foot .cui-btn {
  margin-left: 5px;
  margin-right: 5px;
}
.link-primary {
  color: #2D56B1;
}
.link-primary[href] {
  cursor: pointer;
}
.link-primary[href]:hover {
  text-decoration: underline;
}
.link-sub {
  color: #666a75;
}
.link-sub[href] {
  cursor: pointer;
}
.link-sub[href]:hover {
  color: #2D56B1;
}
#content {
  background-color: #e2e4ff;
}
.home-container {
  position: relative;
}
@media (min-width: 1024px) {
  html,
  body,
  #content,
  .home-container,
  .home-street-container,
  .home-street-wrapper,
  .home-street-list,
  .home-street-list > li {
    height: 100%;
  }
  #content {
    padding-top: 100px;
    margin-top: -100px;
  }
}
.home-street-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.home-street-list {
  width: 100%;
  font-size: 0;
  white-space: nowrap;
}
.home-street-list > li {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  white-space: normal;
}
.home-street-outer {
  position: relative;
  width: 33.33333333%;
  background-size: cover;
}
.home-street-outer:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
}
.home-street-outer-1 {
  background-image: linear-gradient(to right, #E6E5FF 0%, #E7E5FF 100%);
}
.home-street-outer-1:before {
  background-image: linear-gradient(to right, #D0D0E9 0%, #D6D4ED 77%, #DFDEF1 100%);
}
.home-street-outer-2 {
  background-image: linear-gradient(to right, #E7E4FF 0%, #E4E5FF 100%);
}
.home-street-outer-2:before {
  background-image: linear-gradient(to right, #CECDE6 7%, #D9D8F0 33%, #D7D7F0 78%, #E1E2F3 100%);
}
.home-street-outer-3 {
  background-image: linear-gradient(to right, #E2E4FF 0%, #D9DDFE 70%, #D2D7FA 100%);
}
.home-street-outer-3:before {
  background-image: linear-gradient(to right, #C9CBE3 8%, #D7DBF1 19%, #D7DBF0 32%, #DCE1F4 69%, #E0E5FB 100%);
}
.detail-outer {
  position: relative;
  width: 0;
  max-width: 1180px;
}
.detail-outer-close {
  display: none;
  position: absolute;
  top: 10px;
  left: 100%;
  width: 41px;
  overflow: hidden;
  padding-left: 41px;
  height: 30px;
  background-image: url(./../images/newcomer-deital-outer-close.png);
  background-repeat: no-repeat;
  white-space: nowrap;
  line-height: 30px;
  color: white;
  cursor: pointer;
}
.detail-outer-close:hover {
  width: auto;
}
.detail-outer.open {
  z-index: 15;
}
.detail-outer.open .detail-outer-close {
  display: block;
}
.home-street-list.widthAnimation {
  transition: margin-left 0.7s;
}
.home-street-list.widthAnimation .detail-outer {
  transition: width 0.7s;
}
.home-street {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);
}
.home-street.init-height {
  transform: none;
}
.is-overflow .home-street {
  position: relative !important;
  transform: none !important;
  margin-top: 0 !important;
}
.home-street-cover {
  position: absolute;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s 0.2s;
}
.home-street-bg {
  background-size: cover;
}
.home-street-bg:after {
  content: "";
  display: block;
  padding-top: 131.25%;
}
.home-step {
  position: absolute;
  z-index: 2;
  width: 44.375%;
  height: 27.85714286%;
  cursor: pointer;
}
.home-step-landmark img,
.home-step-landmark-hover img {
  display: block;
  width: 100%;
}
.home-step-landmark-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.home-step-text {
  position: absolute;
  z-index: 1;
  text-align: left;
  white-space: nowrap;
  color: #5b69c2;
  transform: rotateX(29deg) rotateY(29deg);
  transition: 0.5s;
}
.home-step-text h2 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.home-step-text p {
  font-size: 16px;
  line-height: 20px;
}
.home-step-text p + p {
  margin-top: 5px;
}
.home-step-link {
  position: absolute;
  width: 13.125%;
  animation: home-step-link 2s infinite;
}
.home-step-link img {
  display: block;
  width: 100%;
}
.home-step-number-hover {
  opacity: 0;
  position: absolute;
  width: 14.08450704%;
  height: 8.54700855%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
@keyframes home-step-link {
  0% {
    transform: translate(0, 0%) scale(1);
  }
  50% {
    transform: translate(0, -14px) scale(1.05);
  }
  100% {
    transform: translate(0, 0%) scale(1);
  }
}
.home-step-link-img-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.home-step-link:hover {
  animation-play-state: paused;
}
.home-step-link:hover .home-step-link-img-hover {
  opacity: 1;
}
@media (max-width: 1366px) {
  .home-step-text h2 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }
  .home-step-text p {
    font-size: 14px;
    line-height: 14px;
  }
  .home-step-text p + p {
    margin-top: 5px;
  }
}
.home-step-tip {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 34%;
  width: 200px;
  padding: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1);
  color: white;
  transition: visibility 0s 0.2s, opacity 0.2s;
}
.home-step-tip:before {
  content: "";
  position: absolute;
}
.home-step-tip-right {
  left: 88%;
}
.home-step-tip-right:before {
  top: 10px;
  right: 100%;
  border-top: solid 7px transparent;
  border-bottom: solid 7px transparent;
  border-right: solid 7px rgba(0, 0, 0, 0.75);
}
.home-step-tip-left {
  right: 88%;
}
.home-step-tip-left:before {
  top: 10px;
  left: 100%;
  border-top: solid 7px transparent;
  border-bottom: solid 7px transparent;
  border-left: solid 7px rgba(0, 0, 0, 0.75);
}
.home-step-tip-bottom {
  top: 88%;
  left: 50%;
  margin-left: -100px;
}
.home-step-tip-bottom:before {
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-bottom: solid 7px rgba(0, 0, 0, 0.75);
}
.home-step:hover .home-step-landmark-hover {
  opacity: 1;
}
.home-step:hover .home-step-text {
  color: #C7000B;
}
.home-step:hover .home-step-tip {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
}
.home-step:hover .home-step-number-hover {
  opacity: 1;
}
.home-street-list.detail-opened .home-street-cover {
  visibility: visible;
  opacity: 0.4;
  transition: opacity 0.2s, visibility 0s;
}
@media (max-width: 1023px) {
  .home-street-outer {
    display: none !important;
  }
  .detail-outer {
    display: block !important;
    width: auto !important;
  }
}
.home-nav-container {
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.home-nav-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.home-nav-list {
  font-size: 0;
  text-align: center;
}
.home-nav-list:before,
.home-nav-list:after {
  content: " ";
  display: table;
}
.home-nav-list:after {
  clear: both;
}
.home-nav-list > li {
  display: inline-block;
  width: 33.33333333%;
  line-height: 56px;
  transition: 0.7s;
}
.home-nav-list > li + li {
  position: relative;
}
.home-nav-list > li + li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 28px;
  border-left: solid 1px #1d1d1d;
  margin-top: -14px;
}
.home-nav-item {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.home-nav-menu {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin-left: 7px;
  margin-right: 7px;
  background-size: auto 100%;
  cursor: pointer;
}
.home-nav-menu span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 5px 5px 3px;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #464646;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  color: #fff;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: visibility 0s 0.2s, opacity 0.2s;
}
.home-nav-menu span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 7px solid #464646;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  margin-left: -7px;
}
.home-nav-menu:hover,
.home-nav-menu.hover {
  background-position: -36px 0;
}
.home-nav-menu:hover span,
.home-nav-menu.hover span {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
}
.home-nav-menu.active {
  background-position: -72px 0;
}
@media (max-width: 1023px) {
  .home-nav-container {
    display: none !important;
  }
}
.home-copyright-container {
  position: fixed;
  z-index: 5;
  left: 30px;
  bottom: 65px;
  text-align: left;
}
.home-copyright {
  font-size: 12px;
  line-height: 17px;
  color: #636363;
}
.home-record p {
  margin-top: 5px;
  font-size: 12px;
  line-height: 17px;
  color: #8e8e8e;
}
.home-record-1,
.home-record-2 {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.home-record-1 {
  margin-right: 5px;
  background-image: url(./../images/newcomer-record1.png);
}
.home-record-2 {
  margin-right: 10px;
  background-image: url(./../images/newcomer-record2.png);
}
@media (max-width: 1023px) {
  .home-copyright-container {
    display: none;
  }
}
@media (min-width: 1024px) {
  #content ~ div {
    display: none;
  }
}
@media (min-width: 1024px) {
  .detail-container {
    height: 100%;
    overflow: hidden;
    background: white;
    font-size: 1rem;
    white-space: normal;
  }
  .detail-wrapper {
    display: none;
    position: relative;
    height: 100%;
    width: 1180px;
  }
  .detail-wrapper.show {
    display: block;
  }
  .detail-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-bottom: 56px;
    background-color: #F6F7FF;
  }
  .detail-nav-head-img {
    height: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .detail-nav-head-text {
    padding-bottom: 20px;
    border-bottom: solid 1px #ddd;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    line-height: 33px;
    color: #252b3a;
    text-align: center;
  }
  .detail-nav-menu-list {
    height: calc(100% - 274px);
    overflow: auto;
    padding-top: 20px;
  }
  .detail-nav-menu-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .detail-nav-menu-list::-webkit-scrollbar,
  .detail-nav-menu-list::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .detail-nav-menu-list::-webkit-scrollbar-thumb {
    background-color: #DBDEE2;
  }
  .detail-nav-menu-list::-webkit-scrollbar-thumb:hover {
    background-color: #BEC3C6;
  }
  .detail-nav-menu-list > li {
    position: relative;
  }
  .detail-nav-menu-list > li a {
    display: block;
    padding-left: 30px;
    font-size: 16px;
    line-height: 48px;
    color: #3D3F43;
    cursor: pointer;
    transition: 0.2s;
  }
  .detail-nav-menu-list > li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #2E30BC;
    background-image: linear-gradient(to bottom, #5456FF 0%, #2E30BC 100%);
    transition: 0.2s;
  }
  .detail-nav-menu-list > li a:hover {
    color: #6463FB;
  }
  .detail-nav-menu-list > li.active {
    background-color: rgba(255, 255, 255, 0.9);
    color: #280000;
  }
  .detail-nav-menu-list > li.active a {
    cursor: default;
    color: #6463FB;
  }
  .detail-nav-menu-list > li.active a:before {
    width: 4px;
  }
}
.detail-content-wrapper {
  position: absolute;
  height: 100%;
  padding-bottom: 56px;
  margin-left: 250px;
}
.detail-content {
  display: none;
  position: relative;
  height: 100%;
  padding: 60px 30px 14px 40px;
  overflow-y: auto;
}
.detail-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.detail-content::-webkit-scrollbar,
.detail-content::-webkit-scrollbar-track {
  background-color: transparent;
}
.detail-content::-webkit-scrollbar-thumb {
  background-color: #DDD;
}
.detail-content::-webkit-scrollbar-thumb:hover {
  background-color: #BBB;
}
.detail-content > h1 {
  font-size: 36px;
  line-height: 50px;
  color: #252b3a;
}
.detail-content > h2 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 34px;
  color: #252b3a;
}
.detail-content > p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #3D3F43;
}
.detail-go {
  position: absolute;
  top: 90px;
  right: 44px;
}
.detail-go i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url(./../images/newcomer-detail-icon-go.png);
}
.detail-go span {
  vertical-align: middle;
}
.detail-link-primary {
  color: #2D56B1;
}
.detail-link-primary[href] {
  cursor: pointer;
}
.detail-link-primary[href]:hover {
  text-decoration: underline;
}
.detail-link-sub {
  color: #666a75;
}
.detail-link-sub[href] {
  cursor: pointer;
}
.detail-link-sub[href]:hover {
  color: #2D56B1;
}
.detail-explain {
  margin-top: 5px;
  font-size: 14px;
  line-height: 22px;
  color: #a0a2a8;
}
.detail-img-box {
  padding: 10px;
  border: solid 1px #ddd;
  margin-top: 10px;
}
.detail-img-box img {
  display: block;
  width: 100%;
}
.detail-help-list {
  margin-top: 10px;
}
.detail-help-list a {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  line-height: 28px;
}
.detail-help-list a:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 13px;
  border: solid 1px;
  border-radius: 50%;
}
.detail-recommend {
  padding-top: 1px;
  padding-bottom: 2px;
  margin-top: 20px;
}
.detail-recommend:before,
.detail-recommend:after {
  content: " ";
  display: table;
}
.detail-recommend:after {
  clear: both;
}
.detail-recommend-title {
  float: left;
  width: 53px;
  padding-left: 6px;
  background-image: url(./../images/newcomer-detail-recommend-title.png);
  font-size: 16px;
  line-height: 25px;
  color: #252b3a;
}
.detail-recommend ul {
  float: left;
  padding-top: 7px;
  padding-bottom: 8px;
}
.detail-recommend ul:before,
.detail-recommend ul:after {
  content: " ";
  display: table;
}
.detail-recommend ul:after {
  clear: both;
}
.detail-recommend ul > li {
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 12px;
}
.detail-recommend ul > li + li {
  border-left: solid 1px #ddd;
}
.detail-video {
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.detail-video-content {
  text-align: center;
}
.detail-video-content p {
  font-size: 14px;
  line-height: 22px;
  color: white;
}
.detail-video-content ul {
  margin-top: 20px;
  font-size: 0;
}
.detail-video-content ul > li {
  display: inline-block;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}
.detail-video-content ul > li h2 {
  font-size: 36px;
  line-height: 50px;
  color: white;
}
.detail-video-content ul > li h2:after {
  content: "";
  display: block;
  width: 20px;
  border-bottom: solid 1px;
}
.detail-video-content ul > li p {
  margin-top: 5px;
  font-size: 12px;
  line-height: 16px;
}
.detail-video-content a {
  display: inline-block;
  margin-top: 50px;
  font-size: 0;
}
.detail-video-content a i {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 20px;
  background-image: url(./../images/newcomer-detail-icon-play.png);
  background-position: center;
  background-size: 100% 100%;
  transition: 0.2s;
}
.detail-video-content a span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 12px;
  line-height: 20px;
  color: white;
}
.detail-video-content a:hover i {
  background-image: url(./../images/newcomer-detail-icon-play-hover.png);
}
.detail-advantage {
  margin-top: 14px;
  margin-bottom: 50px;
}
.detail-advantage > ul {
  position: relative;
}
.detail-advantage > ul:before,
.detail-advantage > ul:after {
  content: " ";
  display: table;
}
.detail-advantage > ul:after {
  clear: both;
}
.detail-advantage > ul > li {
  float: left;
  width: 33.33333333%;
}
.detail-advantage > ul > li:before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  border-left: solid 1px #ddd;
  margin-left: 2px;
}
.detail-advantage > ul > li:after {
  content: "";
  position: absolute;
  top: 5px;
  height: 36px;
  border-left: solid 3px #C7000B;
}
.detail-advantage-item {
  padding-left: 25px;
  padding-right: 25px;
}
.detail-advantage-item h1 {
  margin: 0;
  font-size: 28px;
  line-height: 42px;
  color: #252b3a;
}
.detail-advantage-item h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #a0a2a8;
  text-transform: uppercase;
}
.detail-advantage-item p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #666a75;
}
.detail-strength {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
}
.detail-strength > ul {
  margin-left: -8px;
  margin-right: -8px;
}
.detail-strength > ul:before,
.detail-strength > ul:after {
  content: " ";
  display: table;
}
.detail-strength > ul:after {
  clear: both;
}
.detail-strength > ul > li {
  float: left;
  width: 33.33333333%;
  padding-left: 8px;
  padding-right: 8px;
}
.detail-strength-more {
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: 10px;
}
.detail-strength-more a {
  color: #a0a2a8;
}
.detail-strength-more a span {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  transition: 0.2s;
}
.detail-strength-more a:hover {
  color: #C7000B;
}
.detail-strength-more a:hover .cui-icon {
  transform: translate(4px, 0);
}
.detail-strength-item {
  position: relative;
  height: 160px;
  padding-top: 30px;
  border-radius: 2px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.detail-strength-item-head .detail-strength-icon img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.detail-strength-item-head h2 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #666a75;
  text-align: center;
}
.detail-strength-item-head i {
  display: none;
}
.detail-strength-detail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-image: linear-gradient(180deg, #8789EE 0%, #4F51D9 100%);
  line-height: 160px;
  font-size: 0;
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  transition: 0.35s;
}
.detail-strength-detail-inner {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}
.detail-strength-detail-inner p {
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-align: center;
}
.detail-strength-item:hover .detail-strength-detail {
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.detail-partner {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
}
.detail-partner > ul:before,
.detail-partner > ul:after {
  content: " ";
  display: table;
}
.detail-partner > ul:after {
  clear: both;
}
.detail-partner > ul > li {
  float: left;
  width: 25%;
}
@media (max-width: 1300px) {
  .detail-partner > ul > li {
    width: 50%;
  }
}
.detail-partner-more {
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: 10px;
}
.detail-partner-more a {
  color: #a0a2a8;
}
.detail-partner-more a span {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  transition: 0.2s;
}
.detail-partner-more a:hover {
  color: #C7000B;
}
.detail-partner-more a:hover .cui-icon {
  transform: translate(4px, 0);
}
.detail-partner-item {
  position: relative;
  height: 210px;
  padding-top: 30px;
}
.detail-partner-item .detail-partner-icon img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.detail-partner-item h2 {
  margin: 5px 5px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.detail-partner-detail {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: 0.2s;
}
.detail-partner-detail:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
  background-image: linear-gradient(to right, #4F51D9 0%, #8789EE 100%);
}
.detail-partner-detail h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #252b3a;
}
.detail-partner-detail h2 {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: #252b3a;
}
.detail-partner-detail p {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: #666a75;
}
.detail-partner-detail:hover {
  opacity: 1;
}
.detail-content.show {
  display: block;
  animation: fadeIn-detail 0.2s;
}
@keyframes fadeIn-detail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.detail-mb-head {
  display: none;
}
@media (max-width: 1023px) {
  body {
    background: #EDEFFF;
  }
  .detail-container {
    padding: 15px;
    background: #EDEFFF;
  }
  .detail-wrapper + .detail-wrapper {
    border-top: solid 1px #ddd;
  }
  .detail-mb-head {
    display: block;
    position: relative;
    height: 62px;
    background-color: white;
    color: #252b3a;
    cursor: pointer;
  }
  .detail-mb-head i {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    background-size: auto 100%;
  }
  .detail-mb-head p {
    padding-top: 19px;
    padding-bottom: 19px;
    margin-left: 57px;
    margin-right: 30px;
    font-size: 16px;
    line-height: 24px;
  }
  .detail-mb-head span {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    font-size: 12px;
    transition: 0.35s;
  }
  .detail-mb-head.active i {
    background-position: -64px 0;
  }
  .detail-mb-head.active span {
    -ms-transform: rotate(180deg);
    transform: rotateX(180deg);
  }
  .detail-mb-body {
    height: 0;
    overflow: hidden;
    transition: height 0.35s;
  }
  .detail-mb-body.active {
    height: auto;
  }
  .detail-nav-head-img {
    display: none;
  }
  .detail-content-wrapper {
    position: static;
    height: auto;
    padding-bottom: 0;
    overflow-y: visible;
    margin: 0;
  }
  .detail-nav {
    padding: 0 15px;
    background-color: white;
  }
  .detail-nav-head {
    display: none;
  }
  .detail-nav-menu-list {
    padding-top: 15px;
    border-top: solid 1px #ddd;
  }
  .detail-nav-menu-list:before,
  .detail-nav-menu-list:after {
    content: " ";
    display: table;
  }
  .detail-nav-menu-list:after {
    clear: both;
  }
  .detail-nav-menu-list > li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .detail-nav-menu-list > li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background-color: #f7f7f7;
    font-size: 14px;
    line-height: 28px;
    color: #666a75;
  }
  .detail-nav-menu-list > li.active a {
    background-color: #C7000B;
    color: #fff;
  }
  .detail-content {
    padding: 30px 15px 25px;
    border-top: solid 1px #ddd;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .detail-content > h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .detail-content > h2 {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .detail-content > p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
  }
  .detail-go {
    position: static;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .detail-explain {
    margin-top: 10px;
  }
  .detail-help-list li + li {
    margin-top: 5px;
  }
  .detail-help-list a {
    line-height: 22px;
  }
  .detail-recommend {
    padding: 0;
  }
  .detail-recommend-title {
    float: none;
    width: 44px;
    height: 20px;
    padding-left: 5px;
    background-image: url(./../images/newcomer-detail-recommend-title-mb.png);
    font-size: 14px;
    line-height: 20px;
  }
  .detail-recommend ul {
    float: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  .detail-recommend ul > li:first-child {
    padding-left: 0;
  }
  .detail-video {
    padding: 20px 15px;
    margin: 10px -15px 30px;
    background-size: cover;
  }
  .detail-video-content > p {
    margin-top: 0;
  }
  .detail-video-content a {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .detail-advantage {
    margin-bottom: 30px;
  }
  .detail-advantage > ul > li {
    position: relative;
    width: 100%;
  }
  .detail-advantage-item {
    padding-bottom: 18px;
  }
  .detail-advantage-item h1 {
    font-size: 24px;
  }
  .detail-strength {
    padding-bottom: 35px;
    margin-bottom: 30px;
  }
  .detail-strength > ul > li {
    width: 100%;
  }
  .detail-strength-more {
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .detail-strength-item {
    height: auto;
    padding-top: 0;
    margin-bottom: -1px;
    background: white;
    box-shadow: none;
  }
  .detail-strength-item-head {
    position: relative;
    height: 61px;
    border: solid 1px #ddd;
    border-bottom: none;
    line-height: 60px;
  }
  .detail-strength-item-head:before {
    content: "";
    opacity: 0;
    position: absolute;
    top: -1px;
    left: 0;
    bottom: -1px;
    border-left: solid 2px #C7000B;
    transition: opacity 0.35s;
  }
  .detail-strength-item-head .detail-strength-icon img {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 38px;
    height: 38px;
    margin-top: -19px;
  }
  .detail-strength-item-head h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 0 57px;
  }
  .detail-strength-item-head i {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    font-size: 12px;
    transition: transform 0.35s;
  }
  .detail-strength-item-head.active:before {
    opacity: 1;
  }
  .detail-strength-item-head.active i {
    -ms-transform: rotate(180deg);
    transform: rotateX(180deg);
  }
  .detail-strength-detail {
    opacity: 1;
    position: static;
    height: 0;
    border-bottom: solid 1px #ddd;
    overflow: hidden;
    background: none;
    line-height: 1;
    -ms-transform: none;
    transform: none;
    transition: height 0.35s;
  }
  .detail-strength-detail.active {
    height: auto;
  }
  .detail-strength-detail-inner {
    padding: 15px 15px 30px;
    border: solid 1px #ddd;
    border-bottom: none;
  }
  .detail-strength-detail-inner p {
    color: #666a75;
    text-align: left;
  }
  .detail-partner {
    padding-bottom: 35px;
    margin-bottom: 0;
  }
  .detail-partner > ul > li {
    width: 100%;
  }
  .detail-partner > ul > li + li {
    margin-top: 10px;
  }
  .detail-partner-more {
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .detail-partner-item {
    height: auto;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  }
  .detail-partner-item > h2 {
    display: none;
  }
  .detail-partner-detail {
    opacity: 1;
    position: static;
    padding-bottom: 15px;
    box-shadow: none;
  }
  .detail-partner-detail:before {
    content: none;
  }
  .detail-partner-detail h1 {
    margin-top: 0;
  }
}
.gift {
  position: absolute;
  z-index: 5;
  top: 45px;
  right: 100%;
  width: 192px;
  margin-right: 40px;
  background-repeat: no-repeat;
  min-height: 60px;
}
.gift.gift-enter {
  right: 0;
  animation: ship-fly 5s linear forwards;
}
@keyframes ship-fly {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}
.gift-airship {
  position: relative;
  z-index: 1;
  width: 192px;
  height: 60px;
  margin-left: -15px;
  background: url(./../images/newcomer-eirship.png);
}
.gift-airship p {
  margin-left: 57px;
  padding-top: 19px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #F6706B;
}
.gift-enter .gift-airship p {
  animation: gift-text 2.8s infinite 5.5s;
}
.gift-airship i {
  position: absolute;
  top: 15px;
  right: 46px;
  width: 26px;
  height: 26px;
  margin-right: -15px;
  background-image: url(./../images/newcomer-airship-open.png);
  transition: 0.2s;
}
.gift-airship i:before {
  content: "";
  background-image: url(./../images/newcomer-airship-close.png);
}
.gift-airship-gas {
  position: absolute;
  top: 0;
  right: 100%;
  width: 81px;
  height: 48px;
  background-image: url(./../images/newcomer-airship-gas.png);
  opacity: 0;
  transform-origin: right center;
  animation: gas 5s ease-out forwards;
}
.gift-airship-gas:nth-of-type(2) {
  animation-delay: 0.4s;
}
.gift-airship-gas:nth-of-type(3) {
  animation-delay: 0.8s;
}
@keyframes gift-text {
  0%,
  14%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  2%,
  6%,
  10% {
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  4%,
  8%,
  12% {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@keyframes gas {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  20% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 0;
    transform: scale(1);
  }
  25.001% {
    opacity: 1;
    transform: scale(0);
  }
  45% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1);
  }
  50.001% {
    opacity: 1;
    transform: scale(0);
  }
  70% {
    opacity: 0;
    transform: scale(1);
  }
  75% {
    opacity: 0;
    transform: scale(1);
  }
  75.001% {
    opacity: 1;
    transform: scale(0);
  }
  95% {
    opacity: 0;
    transform: scale(1);
  }
  99.999% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.gift-airship-rope {
  position: relative;
  z-index: 0;
  width: 192px;
  height: 27px;
  background: url(./../images/newcomer-eirship-rope.png);
  margin-top: -37px;
  transition: margin-top 0.2s 0.3s;
}
.gift-inner {
  height: 0;
  margin-top: -6px;
  margin-left: -19px;
  margin-right: -19px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #EDEFFF;
  background-image: url(./../images/newcomer-gift-inner-bg.png);
  transition: 0.3s;
}
.gift-top {
  height: 28px;
}
.gift-content {
  padding: 10px 12px 10px 81px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  background-image: url(./../images/newcomer-egg-small.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
.gift-content h2 {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 18px;
  color: #666a75;
}
.gift-content p {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 18px;
  color: #a0a2a8;
}
.gift-content a {
  font-size: 12px;
}
.gift-content-line {
  display: block;
  margin: 5px 0;
  border-top: dashed 1px #ddd;
}
.gift-get-eggs {
  position: relative;
}
.gift-get-eggs:before,
.gift-get-eggs:after {
  content: " ";
  display: table;
}
.gift-get-eggs:after {
  clear: both;
}
.gift-get-eggs label,
.gift-get-eggs .gift-get-egg {
  float: left;
}
.gift-get-eggs label {
  margin-right: 2px;
  font-size: 12px;
  line-height: 28px;
  color: #666a75;
}
.gift-get-eggs .gift-get-egg {
  position: relative;
  z-index: 1;
  width: 28px;
  height: 28px;
  background-image: url(./../images/newcomer-unget-egg.png);
}
.gift-get-eggs .gift-get-egg.active {
  background-image: url(./../images/newcomer-get-egg.png);
}
.gift-get-eggs .gift-get-egg.hover:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 10px;
  height: 5px;
  margin-left: -5px;
  margin-bottom: 5px;
  border-top: solid 5px white;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}
.gift-tip {
  display: none;
  position: relative;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}
.gift-tip .gift-tip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10px;
  height: 5px;
  margin-left: -5px;
  margin-bottom: 5px;
  border-top: solid 5px white;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}
.gift-tip.show {
  display: block;
}
.gift-get-eggs .gift-tip {
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
}
.gift-get-eggs .gift-tip.-unactive {
  right: -12px;
}
.gift-bottom {
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.gift-bottom .gift-tip {
  position: absolute;
  bottom: 100%;
  left: 10px;
  right: 10px;
  margin-bottom: 5px;
}
.gift:hover .gift-airship i,
.gift.hover .gift-airship i {
  background-image: url(./../images/newcomer-airship-close.png);
}
.gift:hover .gift-airship-rope,
.gift.hover .gift-airship-rope {
  margin-top: -10px;
  transition: 0.2s;
}
.gift:hover .gift-inner,
.gift.hover .gift-inner {
  height: 239px;
  transition: 0.3s 0.2s;
}
.gift-egg-wrapper {
  position: absolute;
  z-index: 5;
  left: 100%;
  top: 65%;
}
.gift-egg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background-image: url(./../images/newcomer-egg-large.png);
  cursor: pointer;
}
.gift-egg.show {
  display: block;
  animation: egg 0.6s infinite alternate;
  transform-origin: center bottom;
}
.gift-egg.show:hover {
  animation: none;
}
@keyframes egg {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
.gift-egg-label {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  margin-top: -18px;
  margin-right: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  line-height: 36px;
  color: white;
  white-space: nowrap;
  transition: opacity 0.2s, visibility 0.2s 0.2s;
}
.gift-egg-label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  border-top: solid 7px transparent;
  border-right: none;
  border-bottom: solid 7px transparent;
  border-left: solid 7px rgba(0, 0, 0, 0.75);
  margin-top: -7px;
}
.gift-egg:hover .gift-egg-label {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s, visibility 0.2s;
}
.street-arrow {
  display: none;
  position: absolute;
  z-index: 2;
  top: 76px;
  left: 0;
  margin-left: -110px;
  margin-top: -49px;
}
.street-arrow-skew {
  transform: scaleY(0.5);
}
.street-arrow-rotate {
  width: 220px;
  height: 98px;
  background-image: url(./../images/newcomer-arrow.png);
  background-size: cover;
  transform: rotate(29deg);
}
.street-arrow.animation-running {
  display: block;
}
.street-arrow.animation-running .street-arrow-position {
  display: block;
  animation: street-arrow-move 3s linear forwards;
}
.street-arrow.animation-running .street-arrow-rotate {
  animation: street-arrow-rotate 3s linear forwards;
}
@keyframes street-arrow-move {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  9.91% {
    transform: translate(159.09090909%, 97.95918367%);
  }
  11.45% {
    transform: translate(182.72727273%, 147.95918367%);
  }
  12.02% {
    transform: translate(174.54545455%, 181.63265306%);
  }
  17.92% {
    opacity: 0.8;
    transform: translate(84.09090909%, 357.14285714%);
  }
  18.49% {
    transform: translate(71.36363636%, 402.04081633%);
  }
  20.03% {
    transform: translate(97.27272727%, 463.26530612%);
  }
  33.82% {
    transform: translate(301.81818182%, 591.83673469%);
  }
  35.36% {
    transform: translate(347.72727273%, 587.75510204%);
  }
  35.93% {
    transform: translate(370.90909091%, 565.30612245%);
  }
  41.54% {
    transform: translate(443.63636364%, 426.53061224%);
  }
  42.11% {
    transform: translate(454.09090909%, 390.81632653%);
  }
  43.65% {
    transform: translate(427.72727273%, 347.95918367%);
  }
  46.98% {
    transform: translate(372.27272727%, 309.18367347%);
  }
  48.52% {
    transform: translate(346.81818182%, 265.30612245%);
  }
  49.09% {
    transform: translate(360%, 218.36734694%);
  }
  58.8% {
    transform: translate(489.09090909%, -23.46938776%);
  }
  59.37% {
    transform: translate(508.63636364%, -33.67346939%);
  }
  60.91% {
    transform: translate(562.72727273%, -64.28571429%);
  }
  74.19% {
    transform: translate(762.72727273%, 63.26530612%);
  }
  75.73% {
    transform: translate(788.18181818%, 108.16326531%);
  }
  76.3% {
    opacity: 0.8;
    transform: translate(776.81818182%, 137.75510204%);
  }
  84.64% {
    transform: translate(645.90909091%, 390.81632653%);
  }
  85.21% {
    transform: translate(634.09090909%, 434.69387755%);
  }
  86.57% {
    transform: translate(665.45454545%, 486.73469388%);
  }
  100% {
    opacity: 0;
    transform: translate(871.81818182%, 615.30612245%);
  }
}
@keyframes street-arrow-rotate {
  0% {
    transform: rotate(29deg);
  }
  9.91% {
    transform: rotate(29deg);
  }
  12.02% {
    transform: rotate(119deg);
  }
  17.92% {
    transform: rotate(119deg);
  }
  20.03% {
    transform: rotate(29deg);
  }
  33.82% {
    transform: rotate(29deg);
  }
  35.93% {
    transform: rotate(-59deg);
  }
  41.54% {
    transform: rotate(-59deg);
  }
  43.65% {
    transform: rotate(-151deg);
  }
  46.98% {
    transform: rotate(-151deg);
  }
  49.09% {
    transform: rotate(-59deg);
  }
  58.8% {
    transform: rotate(-59deg);
  }
  60.91% {
    transform: rotate(29deg);
  }
  74.19% {
    transform: rotate(29deg);
  }
  76.3% {
    transform: rotate(119deg);
  }
  84.64% {
    transform: rotate(119deg);
  }
  86.57% {
    transform: rotate(29deg);
  }
  100% {
    transform: rotate(29deg);
  }
}
.dialog-content {
  position: relative;
}
.dialog-icon-success {
  position: absolute;
  top: 4px;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url(./../images/newcomer-icon-success.png);
}
.dialog-icon-error {
  position: absolute;
  top: 4px;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url(./../images/newcomer-icon-error.png);
}
.dialog-icon-success + .dialog-text,
.dialog-icon-error + .dialog-text {
  padding-left: 60px;
}
.dialog-text h2 {
  font-size: 18px;
  line-height: 22px;
  color: #252b3a;
}
.dialog-text p {
  margin-top: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #666a75;
}
#dialog-rule .dialog-window {
  width: 700px;
}
#dialog-rule .dialog-body {
  padding-bottom: 10px;
}
#dialog-rule .dialog-text h1 {
  font-size: 22px;
  color: #252b3a;
}
#dialog-rule .dialog-text p {
  margin-top: 0;
}
.mobile-banner {
  display: none;
}
@media (max-width: 1023px) {
  .mobile-banner {
    display: block;
  }
  .mobile-banner img {
    display: block;
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map*/