@import "./common.scss";

@media (max-width: 1023px) {
  .carousel-wrapper {
    display: flex;
  }

  .banner-content-main {
    visibility: hidden;
  }

  .banner-container {
    height: calc(356 / 375 * 100vw);
  }

  .home-global {
    display: none;
  }

  .home-safe .section-top .section-top-right .section-item {
    flex-flow: column;
    justify-content: flex-start;

  }

  .home-safe .section-top .section-top-right .section-item p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #content .section-register {
    padding: 0;
  }

}

@media (min-width: 1024px) {
  #content .banner .banner-activity-card:hover .banner-activity-card-title {
    color: $web_base_color;
  }

  .home-cases-hk .section-body .cases-logos .cases-logs-wrapper {
    line-height: 100px;
  }
}

#content .home-global-site .por-container .section-bottom .tab-content .tab-section {
  display: none;
  width: auto;
}

#content .home-global-site .por-container .section-bottom .tab-content .tab-section.show {
  display: table;
}

.home-news .section-body .section-body-right .section-body-item-subNews_title {
  max-height: 60px;
}

.home-global .region-item_title {
  white-space: nowrap;
}
