body #menu li a {
    color: #00000 !important;
}
body #sidebar .button{
	z-index: 2;
}

body #menu a {
	color: white !important;
}
body #menu .top-menu {
    margin-top: 50px;
    background: #00000073;
    padding: 10px;
    border-radius: 10px;
}

body .me-buttons.white span:before{
	color: #439aa9 !important;
}
body .me-buttons.white a:before{
	color: #439aa9 !important;	
}

body .open-close{
	background-color: white !important;
}

.modal .me-buttons a, .no-touch .me-buttons.white a:hover{
	    background-color: #59f3e538 !important;
}